<div class="catalog-products row">
	<article class="product-card col-lg-3 col-sm-4 col-12">
		<div class="product-card_wrap">
			<div class="product-card_inner">
				<a class="product-img-link" href="detail-page">
					<img class="product-img" src="img/product-1.jpg" alt="Cats Wink Clear Pact">
				</a>
				<span class="product-rating product-rating_5" title="Рейтинг товара: 5 звезд из 5ти">
					<span class="screen-readers-only">Рейтинг товара: 5 звезд из 5ти</span>
				</span>
				<h3 class="product-name">
					<a class="product-name_link" href="detail-page">Cats Wink Clear Pact</a>
				</h3>
				<p class="product-short-desc">Новое средство макияжа от Tony Moly. Великолепная и очень стойкая пудра самого тонкого помола, выпускается в очаровательной...</p>
				<div class="product-price_wrap">
					<span class="product-price">
						<span class="price-value">850 &#8381;</span>
						<span class="price-text">/шт</span>
					</span>
				</div>
				<form class="product_add-to-fav-form" action="" method="post">
					<input type="hidden" name="product-id" value="123">
					<input type="hidden" name="add-to-fav" value="false">
					<button class="remove-from-fav-form_btn" type="submit" title="Убрать из избранного">
						<span class="screen-readers-only">Убрать из избранного</span>
					</button>
				</form>
				<form class="product_add-to-cart-form" id="product_id_123_cart-form_cart-form" action="" method="post">
					<input type="hidden" name="product-id" value="123">
					<label class="add-to-cart-form_label" for="add-to-cart_product-123">Количество:</label>
					<div class="row">
						<div class="col d-flex">
							<div class="cart-count_wrap">
								<button class="add-to-cart-form_count-btn cart_dec-btn" type="button">-</button>
								<input class="add-to-cart-form_input" id="add-to-cart_product-123" type="number" value="1" min="1" required>
								<button class="add-to-cart-form_count-btn cart_inc-btn" type="button">+</button>
							</div>
						</div>
						<div class="col">
							<input class="add-to-cart-btn site-btn site-btn_purple" type="submit" value="в корзину">
						</div>
					</div>
				</form>
			</div>
		</div>
	</article>
	<article class="product-card col-lg-3 col-sm-4 col-12">
		<div class="product-card_wrap">
			<div class="product-card_inner">
				<a class="product-img-link" href="detail-page">
					<img class="product-img" src="img/product-1.jpg" alt="Cats Wink Clear Pact">
				</a>
				<span class="product-rating product-rating_5" title="Рейтинг товара: 5 звезд из 5ти">
					<span class="screen-readers-only">Рейтинг товара: 5 звезд из 5ти</span>
				</span>
				<h3 class="product-name">
					<a class="product-name_link" href="detail-page">Cats Wink Clear Pact</a>
				</h3>
				<p class="product-short-desc">Новое средство макияжа от Tony Moly. Великолепная и очень стойкая пудра самого тонкого помола, выпускается в очаровательной...</p>
				<div class="product-price_wrap">
					<span class="product-price">
						<span class="price-value">850 &#8381;</span>
						<span class="price-text">/шт</span>
					</span>
				</div>
				<form class="product_add-to-fav-form" action="" method="post">
					<input type="hidden" name="product-id" value="123">
					<input type="hidden" name="add-to-fav" value="false">
					<button class="remove-from-fav-form_btn" type="submit" title="Убрать из избранного">
						<span class="screen-readers-only">Убрать из избранного</span>
					</button>
				</form>
				<form class="product_add-to-cart-form" id="product_id_123_cart-form_cart-form" action="" method="post">
					<input type="hidden" name="product-id" value="123">
					<label class="add-to-cart-form_label" for="add-to-cart_product-123">Количество:</label>
					<div class="row">
						<div class="col d-flex">
							<div class="cart-count_wrap">
								<button class="add-to-cart-form_count-btn cart_dec-btn" type="button">-</button>
								<input class="add-to-cart-form_input" id="add-to-cart_product-123" type="number" value="1" min="1" required>
								<button class="add-to-cart-form_count-btn cart_inc-btn" type="button">+</button>
							</div>
						</div>
						<div class="col">
							<input class="add-to-cart-btn site-btn site-btn_purple" type="submit" value="в корзину">
						</div>
					</div>
				</form>
			</div>
		</div>
	</article>
	<article class="product-card col-lg-3 col-sm-4 col-12">
		<div class="product-card_wrap">
			<div class="product-card_inner">
				<a class="product-img-link" href="detail-page">
					<img class="product-img" src="img/product-1.jpg" alt="Cats Wink Clear Pact">
				</a>
				<span class="product-rating product-rating_5" title="Рейтинг товара: 5 звезд из 5ти">
					<span class="screen-readers-only">Рейтинг товара: 5 звезд из 5ти</span>
				</span>
				<h3 class="product-name">
					<a class="product-name_link" href="detail-page">Cats Wink Clear Pact</a>
				</h3>
				<p class="product-short-desc">Новое средство макияжа от Tony Moly. Великолепная и очень стойкая пудра самого тонкого помола, выпускается в очаровательной...</p>
				<div class="product-price_wrap">
					<span class="product-price">
						<span class="price-value">850 &#8381;</span>
						<span class="price-text">/шт</span>
					</span>
				</div>
				<form class="product_add-to-fav-form" action="" method="post">
					<input type="hidden" name="product-id" value="123">
					<input type="hidden" name="add-to-fav" value="false">
					<button class="remove-from-fav-form_btn" type="submit" title="Убрать из избранного">
						<span class="screen-readers-only">Убрать из избранного</span>
					</button>
				</form>
				<form class="product_add-to-cart-form" id="product_id_123_cart-form_cart-form" action="" method="post">
					<input type="hidden" name="product-id" value="123">
					<label class="add-to-cart-form_label" for="add-to-cart_product-123">Количество:</label>
					<div class="row">
						<div class="col d-flex">
							<div class="cart-count_wrap">
								<button class="add-to-cart-form_count-btn cart_dec-btn" type="button">-</button>
								<input class="add-to-cart-form_input" id="add-to-cart_product-123" type="number" value="1" min="1" required>
								<button class="add-to-cart-form_count-btn cart_inc-btn" type="button">+</button>
							</div>
						</div>
						<div class="col">
							<input class="add-to-cart-btn site-btn site-btn_purple" type="submit" value="в корзину">
						</div>
					</div>
				</form>
			</div>
		</div>
	</article>
	<article class="product-card col-lg-3 col-sm-4 col-12">
		<div class="product-card_wrap">
			<div class="product-card_inner">
				<a class="product-img-link" href="detail-page">
					<img class="product-img" src="img/product-2.jpg" alt="BERRISOM Essential Тоник для лица Essential Boosting Toner">
				</a>
				<span class="product-rating product-rating_0" title="Рейтинг товара: 0 звезд из 5ти">
					<span class="screen-readers-only">Рейтинг товара: 0 звезд из 5ти</span>
				</span>
				<h3 class="product-name">
					<a class="product-name_link" href="detail-page">BERRISOM Essential Тоник для лица Essential Boosting Toner</a>
				</h3>
				<p class="product-short-desc">Серия тоников с натуральными экстрактами позволяет решить разнообразные кожные проблемы связанные с вашей кожей.</p>
				<div class="product-commercial-offer">
					<div class="product-commercial-offer_prop">
						<span class="add-to-cart-form_label">Цвет: <output class="product_chosen-prop">пудровый</output></span>
						<label class="color-label">
							<input class="product_radio-color screen-readers-only" type="radio" form="product_id_456_cart-form_cart-form" name="color" value="pink" checked>
							<span class="product_radio-color_label product-color-pudr">пудровый</span>
						</label>
						<label class="color-label">
							<input class="product_radio-color screen-readers-only" type="radio" form="product_id_456_cart-form_cart-form" name="color" value="blue">
							<span class="product_radio-color_label product-color-blue">синий</span>
						</label>
						<label class="color-label">
							<input class="product_radio-color screen-readers-only" type="radio" form="product_id_456_cart-form_cart-form" name="color" value="black">
							<span class="product_radio-color_label product-color-black">черный</span>
						</label>
					</div>
					<div class="product-commercial-offer_prop">
						<span class="add-to-cart-form_label">Объем: <output class="product_chosen-prop">350мл</output></span>
						<label class="volume-label">
							<input class="product_radio-volume screen-readers-only" type="radio" form="product_id_456_cart-form_cart-form" name="volume" value="350" checked>
							<span class="product_radio-volume_label">350мл</span>
						</label>
						<label class="volume-label">
							<input class="product_radio-volume screen-readers-only" type="radio" form="product_id_456_cart-form_cart-form" name="volume" value="700">
							<span class="product_radio-volume_label">700мл</span>
						</label>
					</div>
				</div>
				<div class="product-price_wrap">
					<span class="product-price">
						<span class="price-value">2150 &#8381;</span>
						<span class="price-text">/шт</span>
					</span>
				</div>
				<span class="product-label product-label_discount">скидка</span>
				<form class="product_add-to-fav-form" action="" method="post">
					<input type="hidden" name="product-id" value="456">
					<input type="hidden" name="add-to-fav" value="false">
					<button class="remove-from-fav-form_btn" type="submit" title="Убрать из избранного">
						<span class="screen-readers-only">Убрать из избранного</span>
					</button>
				</form>
				<form class="product_add-to-cart-form" id="product_id_456_cart-form_cart-form" action="" method="post">
					<input type="hidden" name="product-id" value="456">
					<label class="add-to-cart-form_label" for="add-to-cart_product-456">Количество:</label>
					<div class="row">
						<div class="col d-flex">
							<div class="cart-count_wrap">
								<button class="add-to-cart-form_count-btn cart_dec-btn" type="button">-</button>
								<input class="add-to-cart-form_input" id="add-to-cart_product-123" type="number" value="1" min="1" required>
								<button class="add-to-cart-form_count-btn cart_inc-btn" type="button">+</button>
							</div>
						</div>
						<div class="col">
							<input class="add-to-cart-btn site-btn site-btn_purple" type="submit" value="в корзину">
						</div>
					</div>
				</form>
			</div>
		</div>
	</article>
	<article class="product-card col-lg-3 col-sm-4 col-12">
		<div class="product-card_wrap">
			<div class="product-card_inner">
				<a class="product-img-link" href="detail-page">
					<img class="product-img" src="img/product-3.jpg" alt="Dual Firming Modeling Mask Refill (1kg)">
				</a>
				<span class="product-rating product-rating_4" title="Рейтинг товара: 4 звезд из 5ти">
					<span class="screen-readers-only">Рейтинг товара: 4 звезд из 5ти</span>
				</span>
				<h3 class="product-name">
					<a class="product-name_link" href="detail-page">Dual Firming Modeling Mask Refill (1kg)</a>
				</h3>
				<p class="product-short-desc">Серия натуральных тоников с цветочными экстрактами для разных типов кожи . Очищающий и освежающий...</p>
				<div class="product-price_wrap">
					<span class="product-price product-old-price">
						<span class="price-value">4800 &#8381;</span>
						<span class="price-text">/шт</span>
					</span>
					<span class="product-price">
						<span class="price-value">2150 &#8381;</span>
						<span class="price-text">/шт</span>
					</span>
				</div>
				<span class="product-label product-label_hit">хит</span>
				<form class="product_add-to-fav-form" action="" method="post">
					<input type="hidden" name="product-id" value="789">
					<input type="hidden" name="add-to-fav" value="false">
					<button class="remove-from-fav-form_btn" type="submit" title="Убрать из избранного">
						<span class="screen-readers-only">Убрать из избранного</span>
					</button>
				</form>
				<form class="product_add-to-cart-form" id="product_id_789_cart-form_cart-form" action="" method="post">
					<input type="hidden" name="product-id" value="789">
					<label class="add-to-cart-form_label" for="add-to-cart_product-789">Количество:</label>
					<div class="row">
						<div class="col d-flex">
							<div class="cart-count_wrap">
								<button class="add-to-cart-form_count-btn cart_dec-btn" type="button">-</button>
								<input class="add-to-cart-form_input" id="add-to-cart_product-123" type="number" value="1" min="1" required>
								<button class="add-to-cart-form_count-btn cart_inc-btn" type="button">+</button>
							</div>
						</div>
						<div class="col">
							<input class="add-to-cart-btn site-btn site-btn_purple" type="submit" value="в корзину">
						</div>
					</div>
				</form>
			</div>
		</div>
	</article>
</div>
