<footer class="page-footer">
	<section class="contacts_section">
		<div class="content-wrap">
			<div class="row align-items-center">
				<div class="footer-region-col col-lg-3">
					<section class="region-info">
						<p class="region-contacts">
							<span class="user-region">Казань:</span>
							<span class="region-phone">+7 (843) <span class="semibold-font">259-19-10</span></span>
						</p>
					</section>
				</div>
				<div class="col-lg">
					<form class="footer-callback_form" action="" method="post">
						<span class="footer-callback_title">Закажите звонок прямо сейчас мы перезвоним через 1 минуту</span>
						<div class="footer-callback_form_inner">
							<label class="screen-readers-only" for="footer-callback">Введите телефон:</label>
							<input class="footer-callback_tel" id="footer-callback" type="tel" name="phone" placeholder="+7 (916) 123-45-67" required>
							<input class="footer-callback_btn" type="submit" value="Заказать звонок">
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
	<section class="footer-main-content">
		<div class="content-wrap">
			<div class="row">
				<nav class="footer-navigation col-lg-5 col-md-8">
					<ul class="site-menu row">
						<li class="site-menu_item col-sm-6">
							<a class="site-menu_link" href="home.html">Главная</a>
						</li>
						<li class="site-menu_item col-sm-6">
							<a class="site-menu_link" href="#">О магазине</a>
						</li>
						<li class="site-menu_item col-sm-6">
							<a class="site-menu_link" href="#">Самовывоз</a>
						</li>
						<li class="site-menu_item col-sm-6">
							<a class="site-menu_link" href="#">Оплата</a>
						</li>
						<li class="site-menu_item col-sm-6">
							<a class="site-menu_link" href="#">Доставка</a>
						</li>
						<li class="site-menu_item col-sm-6">
							<a class="site-menu_link" href="#">Сертификаты</a>
						</li>
						<li class="site-menu_item col-sm-6">
							<a class="site-menu_link" href="#">Отзывы</a>
						</li>
						<li class="site-menu_item col-sm-6">
							<a class="site-menu_link" href="#">Контакты</a>
						</li>
					</ul>
				</nav>
				<div class="payment col-lg-3">
					<span class="payment-title">Принимаем к оплате:</span>
					<ul class="footer-payment-list list-reset">
						<li class="payment-item">
							<img class="payment-img" src="img/payment-visa.png" alt="Visa">
						</li>
						<li class="payment-item">
							<img class="payment-img" src="img/payment-mastercard.png" alt="Mastercard">
						</li>
						<li class="payment-item">
							<img class="payment-img" src="img/payment-maestro.png" alt="Maestro">
						</li>
					</ul>
				</div>
				<section class="copyrights col-lg-4">
					<h2 class="copyrights-title">Копирование материалов</h2>
					<p class="copyrights-text">Все наши материалы – это авторский текст, написанный нами. Поэтому ссылка на первоисточник обязательна. Если вы копируете наши материалы – ставьте активную ссылку на mimimi.market. Это касается как сайтов, так и социальных сетей.</p>
				</section>
			</div>
		</div>
	</section>
</footer>

<div class="popup_wrap">
	<div class="popup_window delivery-popup_wrap">
		<div class="delivery-popup_inner">
			<button class="close-popup-btn" type="button"><span class="screen-readers-only">Закрыть</span></button>
			<section class="delivery-prices">
				<span class="delivery-region moscow-region">Москва</span>
				<p class="delivery-short-info courier-icon">
					<span class="delivery-item-title">Курьером - 290 &#8381;</span>
					<span class="delivery-free-cond">от 3000 &#8381; - <span class="free-delivery-text">бесплатно!</span></span>
				</p>
				<p class="delivery-short-info pickup-point-icon">
					<span class="delivery-item-title">Пункт выдачи - от 180 &#8381;</span>
					<span class="delivery-free-cond">от 2000 &#8381; - <span class="free-delivery-text">бесплатно!</span></span>
				</p>
				<a class="delivery-full-link site-btn site-btn_purple" href="#">подробнее о доставке</a>
			</section>
			<section class="delivery-prices">
				<span class="delivery-region russia-region">Россия</span>
				<p class="delivery-short-info courier-icon">
					<span class="delivery-item-title">Курьером - 320 &#8381;</span>
					<span class="delivery-free-cond">от 5000 &#8381; - <span class="free-delivery-text">бесплатно!</span></span>
				</p>
				<p class="delivery-short-info pickup-point-icon">
					<span class="delivery-item-title">Пункт выдачи - от 230 &#8381;</span>
					<span class="delivery-free-cond">от 5000 &#8381; - <span class="free-delivery-text">бесплатно!</span></span>
				</p>
				<p class="delivery-short-info post-icon">
					<span class="delivery-item-title">Почта россии - от 250 &#8381;</span>
					<span class="delivery-free-cond">от 4000 &#8381; - <span class="free-delivery-text">бесплатно!</span></span>
				</p>
			</section>
		</div>
	</div>
	<div class="popup_window express-order-popup_wrap popup_window-small">
		<button class="close-popup-btn" type="button"><span class="screen-readers-only">Закрыть</span></button>
		<form class="express-order-form popup-form-small" action="" method="post">
			<span class="popup-form-title">Экспресс заказ</span>
			<span class="popup-form-message">Наш менеджер свяжется с вами в течении 15 минут, оформит заказ и доставку.</span>
			<label class="popup-form-label">
				<input class="popup-form-input" type="text" name="name" required>
				<span class="popup-form-label-text">Ваше имя</span>
			</label>
			<label class="popup-form-label">
				<input class="popup-form-input" type="tel" name="phone" required>
				<span class="popup-form-label-text">Ваш телефон</span>
			</label>
			<input class="popup-form-submit-btn site-btn site-btn_purple" type="submit" value="отправить">
		</form>
	</div>
	<div class="popup_window login-popup_wrap popup_window-small">
		<button class="close-popup-btn" type="button"><span class="screen-readers-only">Закрыть</span></button>
		<form class="express-order-form popup-form-small" action="" method="post">
			<span class="popup-form-title">Личный кабинет</span>
			<label class="popup-form-label">
				<input class="popup-form-input" type="text" name="login" required>
				<span class="popup-form-label-text">Логин</span>
			</label>
			<label class="popup-form-label">
				<input class="popup-form-input" type="password" name="password" required>
				<span class="popup-form-label-text">Пароль</span>
			</label>
			<div class="login-form-options_wrap">
				<label class="login-remember-label">
					<input class="remember-checkbox screen-readers-only" type="checkbox" name="remember">
					<span class="remember-checkbox-label">Запомнить меня</span>
				</label>
				<a class="forgot-pass-link" href="#">Забыли пароль?</a>
			</div>
			<input class="popup-form-submit-btn site-btn site-btn_purple" type="submit" value="войти">
		</form>
	</div>
	<div class="popup_window register-popup_wrap popup_window-small">
		<button class="close-popup-btn" type="button"><span class="screen-readers-only">Закрыть</span></button>
		<form class="express-order-form popup-form-small" action="" method="post">
			<span class="popup-form-title">Регистрация</span>
			<label class="popup-form-label">
				<input class="popup-form-input" type="text" name="login" required>
				<span class="popup-form-label-text">Логин</span>
			</label>
			<label class="popup-form-label">
				<input class="popup-form-input" type="password" name="password" required>
				<span class="popup-form-label-text">Пароль</span>
			</label>
			<label class="popup-form-label">
				<input class="popup-form-input" type="password" name="password2" required>
				<span class="popup-form-label-text">Повторите пароль</span>
			</label>
			<label class="privacy-label popup-form-label">
				<input class="privacy-ckeckbox screen-readers-only" name="private-data" type="checkbox" required>
				<span class="privacy-label-text">Согласен на обработку персональных данных в соотвествии с <a class="privacy-link" href="#">политикой конфиденциальности</a></span>
			</label>
			<input class="popup-form-submit-btn site-btn site-btn_purple" type="submit" value="войти">
		</form>
	</div>
	<div class="popup_window one-click-popup_wrap popup_window-small">
		<button class="close-popup-btn" type="button"><span class="screen-readers-only">Закрыть</span></button>
		<form class="express-order-form popup-form-small" action="" method="post">
			<span class="express-order-form-title popup-form-title">Купить в 1 клик</span>
			<label class="popup-form-label">
				<input class="popup-form-input" type="text" name="name" required>
				<span class="popup-form-label-text">Ваше имя</span>
			</label>
			<label class="popup-form-label">
				<input class="popup-form-input" type="tel" name="phone" required>
				<span class="popup-form-label-text">Ваш телефон</span>
			</label>
			<label class="popup-form-label">
				<input class="popup-form-input" type="email" name="email">
				<span class="popup-form-label-text">Ваш email</span>
			</label>
			<label class="popup-form-label">
				<textarea class="comment-input" name="comment"></textarea>
				<span class="popup-form-label-text">Комментарий</span>
			</label>
			<input class="popup-form-submit-btn site-btn site-btn_purple" type="submit" value="отправить">
		</form>
	</div>
	<div class="popup_window user-msg-popup">
		<button class="close-popup-btn" type="button"><span class="screen-readers-only">Закрыть</span></button>
		<div class="user-response">Спасибо за заказ!</div>
	</div>
</div>
