<header class="page-header">
	<div class="top-panel">
		<div class="content-wrap top-panel_wrap">
			<span class="site-title md_hidden">Интернет-магазин корейской косметики MiMiMi.market</span>
			<span class="site-title md_visible">Магазин корейской косметики</span>
			<span class="site-title site-title-phone md_visible">+7 (843) <span class="semibold-font">259-19-10</span></span>
			<div class="payment-info md_hidden">Принимаем к оплате:
				<ul class="payment-list list-reset">
					<li class="payment-item">
						<img class="payment-img" src="img/payment-visa.png" alt="Visa">
					</li>
					<li class="payment-item">
						<img class="payment-img" src="img/payment-mastercard.png" alt="Mastercard">
					</li>
					<li class="payment-item">
						<img class="payment-img" src="img/payment-maestro.png" alt="Maestro">
					</li>
				</ul>
			</div>
			<nav class="user-navigation">
				<h2 class="screen-readers-only">Пользовательская навигация</h2>
				<ul class="user-nav list-reset">
					<li class="user-nav_item">
						<a class="user-nav-link user-nav-link_login" href="#">вход</a>
					</li>
					<li class="user-nav_item">
						<a class="user-nav-link user-nav-link_register" href="#">регистрация</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
	<section class="navigation-container">
		<div class="fast-access-panel">
			<div class="content-wrap fast-access-panel_wrap">
				<button class="toggle-menu-btn" id="toggle-menu-btn" type="button">Показать меню<span class="hamburger-line"></span></button>
				<div class="search-form_wrap">
					<form class="site-search-form" action="" method="get">
						<label class="screen-readers-only" for="search-input">Поиск по сайту:</label>
						<input class="search-input site-input" id="search-input" type="search" name="q">
						<input class="site-search-btn site-btn site-btn_purple" id="site-search-btn" type="submit" value="поиск">
						<button class="close-search-btn" type="button">закрыть поиск</button>
					</form>
				</div>
				<a class="logo-link" href="home.html">
					<img class="logo-img" src="img/logo.png" alt="На главную" title="На главную">
				</a>
				<section class="region-info">
					<div class="region_wrap">
						<p class="region-contacts">
							<a class="user-region popup-link_icon-left" href="#">Казань:</a>
							<a class="region-phone" href="tel:+78432591910">+7 (843) <span class="semibold-font">259-19-10</span></a>
						</p>
						<div class="change-region_wrap">
							<ul class="region-list list-reset">
								<li class="region-item">
									<a class="region-link" href="#">Москва</a>
								</li>
								<li class="region-item">
									<a class="region-link chosen-region-link" href="#">Казань</a>
								</li>
								<li class="region-item">
									<a class="region-link" href="#">Россия</a>
								</li>
							</ul>
						</div>
					</div>
					<button class="express-order_btn site-btn site-btn_pink">сделать экспресс заказ</button>
				</section>
				<a class="delivery-and-payment_link popup-link" href="#">Доставка и оплата</a>
				<section class="fast-access-navigation">
					<a class="toogle-search-link" href="#">
						<img class="search-btn-icon" src="img/search-btn-icon.svg" alt="Поиск по сайту">
					</a>
					<ul class="fast-access-menu list-reset">
						<li class="fast-access-menu_item">
							<a class="fast-access-menu_link fav-link" href="favorite-page.html" title="Избранное">
								<img class="fast-access-img" src="img/fav-icon.svg" alt="Избранное">
								<span class="items-count">0</span>
							</a>
						</li>
						<li class="fast-access-menu_item fast-access-menu_cart-item">
							<a class="fast-access-menu_link cart-link" href="cart.html" title="Корзина">
								<img class="fast-access-img" src="img/cart-icon.svg" alt="Корзина">
								<span class="items-count">1</span>
							</a>
							<div class="cart-content-popup">
								<span class="cart-content-title">Ваша корзина:</span>
								<ul class="cart-content-list list-reset">
									<li class="cart-content-item">
										<img class="cart-content-img" src="img/product-3.jpg" alt="product alt">
										<div class="cart-content_wrap">
											<a class="cart-content-product-title" href="detail-page.html">Cats Wink Clear Pact</a>
											<span class="cart-content-info">цена: <b>850 &#8381;</b></span>
											<span class="cart-content-info">количество: <b>1 шт</b></span>
										</div>
									</li>
									<li class="cart-content-item">
										<img class="cart-content-img" src="img/product-1.jpg" alt="product alt">
										<div class="cart-content_wrap">
											<a class="cart-content-product-title" href="detail-page.html">BERRISOM Essential Тоник для лица Essential Boosting Toner</a>
											<span class="cart-content-info">цена: <b>200000 &#8381;</b></span>
											<span class="cart-content-info">количество: <b>100 шт</b></span>
										</div>
									</li>
								</ul>
								<span class="cart-content-summary">Всего в корзине: <span class="color-pink">10</span> товаров на сумму <span class="color-pink">4504  &#8381;</span></span>
								<div class="cart-content-btn-wrap">
									<a class="cart-content-link site-btn site-btn_purple" href="cart.html">в корзину</a>
									<button class="cart-content-btn one-click-buy-btn" type="button">оформить в 1 клик</button>
								</div>
							</div>
							<p class="cart-desc">
								<span class="cart-products-number">1 товар</span>
								<span class="cart-products-sum">сумма: <span class="cart-sum-number">500р</span></span>
							</p>
						</li>
					</ul>
				</section>
			</div>
		</div>
		<nav class="main-navigation">
			<div class="main-navigation_wrap">
				<div class="main-navigation_inner">
					<div class="site-menu_wrap@@if(index===true){ catalog-menu_wrap__index-page}">
						<button class="close-menu-btn" id="close-menu-btn" type="button"><span class="screen-readers-only">Закрыть меню</span></button>
						<ul class="content-wrap site-menu list-reset">
							<li class="site-menu_item">
								<a class="site-menu_link" href="home.html">Главная</a>
							</li>
							<li class="site-menu_item catalog-menu_element">
								<a class="site-menu_link catalog-link_element submenu-opened" href="catalog.html">Каталог</a>
								<div class="catalog-menu_wrap">
									<ul class="content-wrap catalog-menu sub-menu-opened list-reset">
										<li class="catalog-menu_item">
											<a class="catalog-menu_link bb-cc-creams_section-link" href="catalog.html"><span class="popup-link">BB/CC Кремы</span></a>
											<ul class="catalog-section-menu list-reset">
												<li class="catalog-section-menu_item">
													<a class="catalog-section-menu_link" href="catalog.html">BB Кремы</a>
												</li>
												<li class="catalog-section-menu_item">
													<a class="catalog-section-menu_link" href="catalog.html">CC Кремы</a>
												</li>
												<li class="catalog-section-menu_item">
													<a class="catalog-section-menu_link" href="catalog.html">Тональные средства</a>
												</li>
											</ul>
										</li>
										<li class="catalog-menu_item">
											<a class="catalog-menu_link for-hair_section-link" href="catalog.html">Для волос</span></a>
											<ul class="catalog-section-menu list-reset">
												<li class="catalog-section-menu_item">
													<a class="catalog-section-menu_link" href="catalog.html">Маски для волос</a>
												</li>
												<li class="catalog-section-menu_item">
													<a class="catalog-section-menu_link" href="catalog.html">Уход за волосами</a>
												</li>
												<li class="catalog-section-menu_item">
													<a class="catalog-section-menu_link" href="catalog.html">Шампуни</a>
												</li>
												<li class="catalog-section-menu_item">
													<a class="catalog-section-menu_link" href="catalog.html">Кондиционеры</a>
												</li>
												<li class="catalog-section-menu_item">
													<a class="catalog-section-menu_link" href="catalog.html">Укладка</a>
												</li>
												<li class="catalog-section-menu_item">
													<a class="catalog-section-menu_link" href="catalog.html">Окрашивание</a>
												</li>
											</ul>
										</li>
										<li class="catalog-menu_item">
											<a class="catalog-menu_link cleansing_section-link" href="catalog.html"><span class="popup-link">Очищение</span></a>
											<ul class="catalog-section-menu list-reset">
												<li class="catalog-section-menu_item">
													<a class="catalog-section-menu_link" href="catalog.html">Мыло</a>
												</li>
												<li class="catalog-section-menu_item">
													<a class="catalog-section-menu_link" href="catalog.html">Очищающие и массажные кремы</a>
												</li>
												<li class="catalog-section-menu_item">
													<a class="catalog-section-menu_link" href="catalog.html">Пенки</a>
												</li>
												<li class="catalog-section-menu_item">
													<a class="catalog-section-menu_link" href="catalog.html">Гидрофильные масла</a>
												</li>
												<li class="catalog-section-menu_item">
													<a class="catalog-section-menu_link" href="catalog.html">Салфетки</a>
												</li>
												<li class="catalog-section-menu_item">
													<a class="catalog-section-menu_link" href="catalog.html">Ремуверы</a>
												</li>
												<li class="catalog-section-menu_item">
													<a class="catalog-section-menu_link" href="catalog.html">Скрабы</a>
												</li>
												<li class="catalog-section-menu_item">
													<a class="catalog-section-menu_link" href="catalog.html">Пилинги</a>
												</li>
											</ul>
										</li>
										<li class="catalog-menu_item">
											<a class="catalog-menu_link body-care_section-link" href="catalog.html"><span class="popup-link">Уход за телом</span></a>
											<ul class="catalog-section-menu list-reset">
												<li class="catalog-section-menu_item">
													<a class="catalog-section-menu_link" href="catalog.html">Для тела</a>
												</li>
												<li class="catalog-section-menu_item">
													<a class="catalog-section-menu_link" href="catalog.html">Очищение тела</a>
												</li>
												<li class="catalog-section-menu_item">
													<a class="catalog-section-menu_link" href="catalog.html">Коррекция фигуры</a>
												</li>
												<li class="catalog-section-menu_item">
													<a class="catalog-section-menu_link" href="catalog.html">Парфюмерия</a>
												</li>
												<li class="catalog-section-menu_item">
													<a class="catalog-section-menu_link" href="catalog.html">Косметика для ног</a>
												</li>
												<li class="catalog-section-menu_item">
													<a class="catalog-section-menu_link" href="catalog.html">Косметика для рук</a>
												</li>
												<li class="catalog-section-menu_item">
													<a class="catalog-section-menu_link" href="catalog.html">Уход за ногтями</a>
												</li>
												<li class="catalog-section-menu_item">
													<a class="catalog-section-menu_link" href="catalog.html">Для похудения</a>
												</li>
											</ul>
										</li>
										<li class="catalog-menu_item">
											<a class="catalog-menu_link face-care_section-link" href="catalog.html"><span class="popup-link">Уход за лицом</span></a>
											<ul class="catalog-section-menu list-reset">
												<li class="catalog-section-menu_item">
													<a class="catalog-section-menu_link" href="catalog.html">Уход за глазами</a>
												</li>
												<li class="catalog-section-menu_item">
													<a class="catalog-section-menu_link" href="catalog.html">Тонеры, Тоники</a>
												</li>
												<li class="catalog-section-menu_item">
													<a class="catalog-section-menu_link" href="catalog.html">Эссенции</a>
												</li>
												<li class="catalog-section-menu_item">
													<a class="catalog-section-menu_link" href="catalog.html">Сыворотки, Серумы</a>
												</li>
												<li class="catalog-section-menu_item">
													<a class="catalog-section-menu_link" href="catalog.html">Лосьоны, Эмульсии</a>
												</li>
												<li class="catalog-section-menu_item">
													<a class="catalog-section-menu_link" href="catalog.html">Крем, Гели</a>
												</li>
												<li class="catalog-section-menu_item">
													<a class="catalog-section-menu_link" href="catalog.html">Мисти</a>
												</li>
												<li class="catalog-section-menu_item">
													<a class="catalog-section-menu_link" href="catalog.html">Маски</a>
												</li>
												<li class="catalog-section-menu_item">
													<a class="catalog-section-menu_link" href="catalog.html">Очищающие средства</a>
												</li>
												<li class="catalog-section-menu_item">
													<a class="catalog-section-menu_link" href="catalog.html">Солнцезащитные кремы</a>
												</li>
											</ul>
										</li>
										<li class="catalog-menu_item">
											<a class="catalog-menu_link makeup_section-link" href="catalog.html"><span class="popup-link">Макияж</span></a>
											<ul class="catalog-section-menu list-reset">
												<li class="catalog-section-menu_item">
													<a class="catalog-section-menu_link" href="catalog.html">Для глаз</a>
												</li>
												<li class="catalog-section-menu_item">
													<a class="catalog-section-menu_link" href="catalog.html">Для губ</a>
												</li>
												<li class="catalog-section-menu_item">
													<a class="catalog-section-menu_link" href="catalog.html">Для бровей</a>
												</li>
												<li class="catalog-section-menu_item">
													<a class="catalog-section-menu_link" href="catalog.html">Румяна, Хайлайтеры</a>
												</li>
												<li class="catalog-section-menu_item">
													<a class="catalog-section-menu_link" href="catalog.html">Пудры, компакты</a>
												</li>
												<li class="catalog-section-menu_item">
													<a class="catalog-section-menu_link" href="catalog.html">Праймеры (Базы)</a>
												</li>
												<li class="catalog-section-menu_item">
													<a class="catalog-section-menu_link" href="catalog.html">Наборы</a>
												</li>
											</ul>
										</li>
										<li class="catalog-menu_item">
											<a class="catalog-menu_link accessoire_section-link" href="catalog.html"><span class="popup-link">Аксессуары</span></a>
											<ul class="catalog-section-menu list-reset">
												<li class="catalog-section-menu_item">
													<a class="catalog-section-menu_link" href="catalog.html">Для макияжа</a>
												</li>
												<li class="catalog-section-menu_item">
													<a class="catalog-section-menu_link" href="catalog.html">Для маникюра</a>
												</li>
												<li class="catalog-section-menu_item">
													<a class="catalog-section-menu_link" href="catalog.html">Аксессуары для волос</a>
												</li>
												<li class="catalog-section-menu_item">
													<a class="catalog-section-menu_link" href="catalog.html">Очищающие</a>
												</li>
												<li class="catalog-section-menu_item">
													<a class="catalog-section-menu_link" href="catalog.html">Бритвы для бровей</a>
												</li>
												<li class="catalog-section-menu_item">
													<a class="catalog-section-menu_link" href="catalog.html">Другие</a>
												</li>
											</ul>
										</li>
										<li class="catalog-menu_item">
											<a class="catalog-menu_link for-house_section-link" href="catalog.html"><span class="popup-link">Для дома</span></a>
											<ul class="catalog-section-menu list-reset">
												<li class="catalog-section-menu_item">
													<a class="catalog-section-menu_link" href="catalog.html">Для мытья посуды</a>
												</li>
												<li class="catalog-section-menu_item">
													<a class="catalog-section-menu_link" href="catalog.html">Для стирки</a>
												</li>
												<li class="catalog-section-menu_item">
													<a class="catalog-section-menu_link" href="catalog.html">Зубные пасты</a>
												</li>
												<li class="catalog-section-menu_item">
													<a class="catalog-section-menu_link" href="catalog.html">Зубные щетки</a>
												</li>
												<li class="catalog-section-menu_item">
													<a class="catalog-section-menu_link" href="catalog.html">Хозяйственное мыло</a>
												</li>
												<li class="catalog-section-menu_item">
													<a class="catalog-section-menu_link" href="catalog.html">Мочалки для душа</a>
												</li>
											</ul>
										</li>
									</ul>
								</div>
							</li>
							<li class="site-menu_item">
								<a class="site-menu_link" href="#">О магазине</a>
							</li>
							<li class="site-menu_item">
								<a class="site-menu_link" href="#">Самовывоз</a>
							</li>
							<li class="site-menu_item">
								<a class="site-menu_link" href="#">Оплата</a>
							</li>
							<li class="site-menu_item">
								<a class="site-menu_link" href="#">Доставка</a>
							</li>
							<li class="site-menu_item">
								<a class="site-menu_link" href="#">Сертификаты</a>
							</li>
							<li class="site-menu_item">
								<a class="site-menu_link" href="#">Отзывы</a>
							</li>
							<li class="site-menu_item">
								<a class="site-menu_link" href="#">Контакты</a>
							</li>
						</ul>
					</div>
				</div>
			</div>

			@@if(index!==true && cart!==true){<div class="breadcrumps_wrap content-wrap">
				<ul class="breadcrumps list-reset">
					<li class="breadcrumps_item">
						<a class="breadcrumps_link" href="home.html">Главная</a>
					</li>
					<li class="breadcrumps_item">
						<a class="breadcrumps_link" href="catalog.html">Каталог</a>
					</li>
					<li class="breadcrumps_item">
						<a class="breadcrumps_link active-link">Уход за телом</a>
					</li>
				</ul>
			</div>}
		</nav>
	</section>
</header>
