<section class="popular-brands site-block_delim">
	<h2 class="popular-brands_title standard-title">Самые популярные бренды:</h2>
	<div class="popular-brands_inner">
		<ul class="popular-brands_list list-reset">
			<li class="popular-brands_item">
				<a class="popular-brands_link" href="brands.html">
					<img class="popular-brands_img" src="img/tony-moly_brand-logo.png" alt="Tony Moly">
				</a>
			</li>
			<li class="popular-brands_item">
				<a class="popular-brands_link" href="brands.html">
					<img class="popular-brands_img" src="img/holika-holika_brand-logo.png" alt="Tony Moly">
				</a>
			</li>
			<li class="popular-brands_item">
				<a class="popular-brands_link" href="brands.html">
					<img class="popular-brands_img" src="img/the-saem_brand-logo.png" alt="Tony Moly">
				</a>
			</li>
			<li class="popular-brands_item">
				<a class="popular-brands_link" href="brands.html">
					<img class="popular-brands_img" src="img/secret-key_brand-logo.png" alt="Tony Moly">
				</a>
			</li>
			<li class="popular-brands_item">
				<a class="popular-brands_link" href="brands.html">
					<img class="popular-brands_img" src="img/missha_brand-logo.png" alt="Tony Moly">
				</a>
			</li>
		</ul>
		<a class="brand-catalog-link site-btn site-btn_purple" href="#"><span class="sm_hidden">каталог по брендам</span><span class="sm_visible">бренды</span></a>
	</div>
</section>
